
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Solway', serif;
    font-weight: 700;

}
main{
    width: 100%;
    height: fit-content;
    color: white;
}
body{
    background-image: url(./Cloudy-Bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header Style */
header{
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c538efd;
    position: fixed;
    top: 0;
}
#App_Name{
    font-weight: 700;
    font-size: 18px;
}
#App_Name span{
    font-size: 20px;
    font-weight: 800;
    color: orange;
}
.App_Icon{
    width: 40px;
}

/* Form Style */
form{
    margin: 5em  auto 0em auto;
    width: 70%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.Search_Field{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#Search_Place{
    width: 100%;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}
#Search_Place:focus{
    outline: none;
}
#ErrorMsg{
    text-transform: capitalize;
    font-weight: 400;
    background-color: red;
    font-size: 12px;
    font-style: italic;
    padding: 0.8em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    word-spacing: 5px;
}
#SearchButton{
    width: 15%;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    background-color: rgba(15, 10, 63, 1);
    color: white;
    border: 1px solid white;
}

#SearchButton:hover{
    cursor: pointer;
    background-color: rgba(15, 10, 63, 0);
}


/* Weather_Container Style  */
.Weather_Container{
    margin: 1em 0em;
    width: 100%;
    height: 90vh;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.CurrentWeather_Container{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 30%;
    height: 100%;
    background-color: #1c538e79;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.CurrentWeather_Container .CurrentWeather{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.CurrentWeather_Container .CurrentWeather .DateTime_Container{
    border-bottom: 2px solid white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 0.8em;
}
#Place_Name{
    width: 80%;
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.281);
}
.Weather_Details{
    width: 95%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    padding: 0.5em;
}
.Weather_Item{
    background-color: rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.2em;
}
.Weather_Item p{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#WeatherConditionBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

h5{
    font-size: 12px;
    border-bottom: 1px solid white;
    padding: 0.5em;
    width: 100%;
    text-align: center;
}
h5 i{
    font-size: 15px;
    margin-left: 5px;
}
.WeatherForecast_Container{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: hsla(211, 67%, 33%, 0.267);
    width: 70%;
    height: 100%;
}
.WeatherForecast_Container .WeatherForeCast{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding: 0.5em;
    gap: 0.5em;
}
.WeatherForeCast .ForeCastItem{
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.WeatherForeCast .ForeCastItem:hover{
    transform: scale(0.95);
}

.ForeCastItem .ForeCastItem-Details{
    width: 100%;
    height: 90%;
    padding: 0.5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2em;
}

.ForeCastItem .ForeCastItem-Details p, .ConditionBox{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    flex-direction: column;
    padding: 1em 0em;
    gap: 0.4em;
    background-color: rgba(249, 246, 252, 0.144);
}
.ForeCastItem .ForeCastItem-Details .ConditionBox p{
    background-color: transparent;
}
footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: #231c38;
    padding: 0.5em;
  }
  footer .App-Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
  }
 
  footer .DesignerInfo {
    width: 50%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
  }
  footer .DesignerInfo #Name {
    color: orange;
    font-size: 20px;
  }
  footer .SocialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 20%;
    height: 100%;
  }
   footer .SocialMedia a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
    border: 1px solid orange;
    border-radius: 50%;
    padding: 0.5em;
    color: white;
  }
  footer .SocialMedia a:hover i {
    transform: scale(1.3);
    color: orange;
  }
